extends layout

block content
        .panel.panel-default
            .panel-heading Device Properties
            .panel-body
                form(id='formtwin', action='/des', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-4
                                label fw version
                                .input-group
                                    input.form-control(name="fw", type='text')
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='fw') submit
                            .col-sm-4
                                label messaging interval
                                .input-group
                                    input.form-control(name='interval', type='text')
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='interval') submit



