extends layout

block content
        .panel.panel-default
            .panel-heading Edit Twin Document
            .panel-body
                form(id='formtwin', action='/edit', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-6
                                .input-group
                                    input.form-control(name="connType", type='text', placeholder='connectivity type')
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='connType', placeholder=connType) submit
                            .col-sm-6
                                .input-group
                                    input.form-control(name='interval', type='text', placeholder='telemetry interval')
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='interval', placeholder=interval) submit
                        .form-group.row
                            .col-sm-6
                                .input-group
                                    input.form-control(name='fw_version', type='text', placeholder='fw version')
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='fw_version', placeholder=version) submit
                            .col-sm-6
                                .input-group
                                    input.form-control(name='msgType', type='text', placeholder='messaging type')
                                    span.input-group-btn
                                        button.btn.btn-primary(name="action", type='submit', form='formtwin', value='msgType', placeholder=version) submit                                        



