extends layout
block content
    .panel.panel-default
        .panel-heading Device Status
        .panel-body        
            form(action='/status', method='post')
                fieldset
                    .form-group.row
                        .col-sm-2
                            .input-group
                                input.form-control(type='text', placeholder=status readonly)
                        .col.sm-4
                            unless status == 'blocked'
                                button.btn.btn-primary(type='submit') toggle
                                
