extends layout

block content
    .panel.panel-default
        .panel-heading Device Properties
        .panel-body
            -if(footer == 'no device selected')
                .alert.alert-danger choose device to display properties
            table.table.table-hover
                thead
                    tr
                    th Property Name
                    th Value
                tbody
                    tr
                    td FW version
                    td #{fw}
                    tr
                    td Telemetry Frequency
                    td #{frequency}
                    tr
                    td Telemetry Type
                    td #{teleType}
                    tr
                    td Connectivity Type
                    td #{connType}   
        
    .panel.panel-default
        .panel-heading Report
        .panel-body   
            form(action='/properties', method='post')
                fieldset
                    .form-group.row
                        .col-sm-2
                            .input-group
                                select#form.form-control(name = "connType")
                                    option(value='') connectivity type
                                    option(value='cellular') cellular
                                    option(value='wifi') wifi
                                    option(value='fixed') fixed 
                        .col-sm-4
                            input.form-control(type='text', name='fw', placeholder='fw version: ' + fw) 
                        .col-sm-1                                 
                            button.btn.btn-primary(type='submit') update 