
extends layout

block content
        .panel.panel-default
            .panel-heading Tags
            .panel-body   
                label Device Zipcode
                .input-group
                    input(type='text', placeholder=location readonly)

                